body{
    background-image:url("../images/Crystal-Background.jpg");
    background-color: green;
    
}


.game-name{
    width:15%;
    height: 85%;
    background-color: purple;
   
}

#instructions{
    background-color:yellow;
    font-style: Times New Roman;
    height: 75%;
    width: 25%;
}

.target-number{
    background-color: white;
    width: 200px;
    height: 100px;
    float:left;
    margin:20px;

}

 .gem-image{ 
    overflow:auto;
    clear:both;
 }

.wins-losses{
    background-color: white;
    width: 100px;
    height: 150px;
    float:left;
    margin:20px;
}

.crystal{
    display: block;
}
#wins, #losses{
    background-color: white;
}

total-score{
    background-color: transparent;
}

#score{
    background-color: pink;
    width: 13%;
    height: 86%;
}

#totScore{
    background-color:pink;
    width: 190px;
    height: 100px;
}