body{
    background-image:url("../images/Crystal-Background.jpg");
    background-color: green;
}


.game-name{
    width:15%;
    height: 85%;
    background-color: purple;
}

#instructions{
    background-color:yellow;
    font-style: Times New Roman;
    height: 75%;
    width: 25%;
}

.target-number{
    background-color: white;
    width: 200px;
    height: 100px;
}

.wins-losses{
    background-color: red;
    width: 25%;
    height: 85%;
    float: right;
}